<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yoler.raisinsconsole.dao.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.yoler.raisinsconsole.entity.User">
        <id column="ID" jdbcType="INTEGER" property="id"/>
        <result column="phone" jdbcType="VARCHAR" property="userName"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="avatar" jdbcType="BLOB" property="avatar"/>
        <result column="create_time" jdbcType="DATE" property="createTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        PHONE, USER_NAME, PASSWORD, AVATAR, CREATE_TIME
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.yoler.raisinsconsole.entity.User">
        insert into User(phone,user_name,password,avatar,create_time)
        values(#{phone},#{userName},#{password},#{avatar},#{createTime})
    </insert>

</mapper>